!!! 5

%html(xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en")
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %meta(charset="utf-8")
    %title= "GL Networks Inside" << (@item[:title].blank? ? '' : " :: #{@item[:title]}")
    %link{:rel => 'alternate', :type => 'application/atom+xml', :title => 'Atom 0.3', :href => '/feed/atom.xml'}
    %link(rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css")
    %link(rel="stylesheet" type="text/css" href="/stylesheets/screen.css" media="screen, projection")
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    :javascript
      var disqus_developer = 1; // TODO: remove for production use!
    %script{:type => "text/javascript", :src => "/javascripts/jquery.tagcloud.js"}
    %script{:type => "text/javascript", :src => "/javascripts/site.js"}

  %body
    #container
      %header
        %a.home(href="/" rel="start") GL Networks Inside &mdash; the tech blog of GL Networks
        #cse-search-form.search
        %nav
          %a.company(href="http://www.glnetworks.de" title="Visit the company presentation of GL Networks (German only)") GL Networks
          %a.about(href="/" title="Imprint and legal terms") About

      #main
        #content
          #cse(style="width:100%;")
          - case @item[:kind]
          - when 'article'
            %article
              = render 'articles/header', :article => @item
              = yield # actual article content
              = render 'articles/comments', :article => @item
          - else
            = yield
        %aside
          = render 'tag_cloud'
          = render 'articles/toc_latest'

      %footer
        %p.site-info &copy; Copyright GL Networks, 2006-#{Date.today.year}. All rights reserved.

    :javascript
      // style tagcloud
      $('.tagcloud .tag').tagcloud({
          size: {start: 10, end: 14, unit: "pt"},
          color: {start: '#aaa', end: '#333'}
      });
      
    %script{:type => "text/javascript", :src => "http://www.google.com/jsapi"}
    :javascript
      // Google AJAX site search
      google.load('search', '1', {language : 'en'});
      google.setOnLoadCallback(function() {
        var customSearchControl = new google.search.CustomSearchControl('003667474430967308904:at48kvgz2so');
        customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
        var options = new google.search.DrawOptions();
        options.setSearchFormRoot('cse-search-form');
        options.setAutoComplete(true);
        customSearchControl.draw('cse', options);
      }, true);

    :javascript
      // Disqus comment counts
      (function() {
        var links = document.getElementsByTagName('a');
        var query = '?';
        for(var i = 0; i < links.length; i++) {
          if(links[i].href.indexOf('#disqus_thread') >= 0) {
            query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
          }
        }
        document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/glnetworks-inside/get_num_replies.js' + query + '"></' + 'script>');
      })();
