!!! 5

%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title= "GL Networks Inside" << (@item[:title].blank? ? '' : "- #{@item[:title]}")
    %link{:rel => 'alternate', :type => 'application/atom+xml', :title => 'Atom 0.3', :href => '/feed/atom.xml'}
    %link(rel="stylesheet" href="http://www.google.com/cse/style/look/minimalist.css" type="text/css")
    %link(rel="stylesheet" type="text/css" href="/stylesheets/screen.css" media="screen, projection")
    %script{:type => "text/javascript", :src => "http://www.google.com/jsapi"}
    :javascript
      google.load("jquery", "1.4.2");
      var disqus_developer = 1; // TODO: remove for production use!
    %script{:type => "text/javascript", :src => "javascripts/site.js"}

  %body
    #container
      %header
        .company GL Networks Inside &mdash; the tech blog of GL Networks

      %nav
        = link_to 'Home', '/'
        = link_to 'About', '/about/'
      #main
        #content
          - case @item[:kind]
          - when 'article'
            %article
              = render 'articles/header', :article => @item
              = yield # actual article content
              = render 'articles/comments', :article => @item
          - else
            = yield
        %aside
          #cse(style="width: 100%;") Lade Suche...
      %footer
        %p.site-info &copy; GL Networks, 2010ff.

    :javascript
      google.load("feeds", "1");
      google.load('search', '1', {language : 'de'});
      google.setOnLoadCallback(function() {
        var customSearchControl = new google.search.CustomSearchControl('003667474430967308904:uehyeulbnw0');
        customSearchControl.setResultSetSize(google.search.Search.SMALL_RESULTSET);
        var options = new google.search.DrawOptions();
        options.setAutoComplete(true);
        customSearchControl.draw('cse', options);
      }, true);

      (function() {
        var links = document.getElementsByTagName('a');
        var query = '?';
        for(var i = 0; i < links.length; i++) {
          if(links[i].href.indexOf('#disqus_thread') >= 0) {
            query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
          }
        }
        document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/glnetworks-inside/get_num_replies.js' + query + '"></' + 'script>');
      })();
