!!! 5

%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title= "GL Networks Inside" << (@item[:title].blank? ? '' : " :: #{@item[:title]}")
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    - unless description.blank?
      %meta(name="description" content="#{description}")
    %meta(name="keywords" content="#{keywords}")
    %meta(name="Author" content="Martin Rehfeld")
    %meta(name="Copyright" content="GL Networks")
    %meta(name="Content-language" content="en")
    %meta(name="language" content="en")

    %link(rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://feeds.feedburner.com/GLNetworksInside")

    %link(rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css")
    %link(rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen")
    /[if lte IE 9]
      %link(rel="stylesheet" href="css/ie.css" type="text/css" media="screen")
    %link(rel="stylesheet" href="/stylesheets/smallscreen.css" type="text/css" media="only screen and (max-width: 1023px)")
    %link(rel="stylesheet" href="/stylesheets/mobile.css" type="text/css" media="handheld, only screen and (max-width: 767px)")

    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/jquery.tagcloud.js"}
    %script{:type => "text/javascript", :src => "/javascripts/site.js"}
    :javascript
      var disqus_shortname = 'glnetworks-inside';

  %body
    #container
      %header
        #navigation
          %a.home(href="/" rel="start") GL Networks Inside &mdash; the tech blog of GL Networks
          %nav.main
            %a.blog(href="/" rel="index" title="Start page of inside.glnetworks.de") Home
            %a.company(href="http://www.glnetworks.de" rel="friend" rev="friend" title="Visit the company presentation of GL Networks (German only)") GL Networks
            %a.about(href="/about/" rel="licence" title="Imprint and legal terms") About
        #cse-search-form.search

      #main
        %section#content
          #cse(style="width:100%;")
          - case @item[:kind]
          - when 'article'
            %article
              = render 'articles/header', :article => @item
              = yield # actual article content
              = render 'articles/comments', :article => @item
          - else
            = yield
        %section#sidebar
          = render 'tag_cloud'
          = render 'articles/toc_latest'

      %footer
        %p.site-info &copy; Copyright GL Networks, 2006-#{Date.today.year}. All rights reserved.

    :javascript
      // Disqus comment counts
      (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());

    :javascript
      // style tagcloud
      $('.tagcloud .tag').tagcloud({
          size: {start: 14, end: 18, unit: "px"},
          color: {start: '#aaa', end: '#333'}
      });

    %script{:type => "text/javascript", :src => "http://www.google.com/jsapi"}
    :javascript
      // Google AJAX site search
      google.load('search', '1', {language : 'en'});
      google.setOnLoadCallback(function() {
        var customSearchControl = new google.search.CustomSearchControl('003667474430967308904:at48kvgz2so');
        customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
        var options = new google.search.DrawOptions();
        options.setSearchFormRoot('cse-search-form');
        options.setAutoComplete(true);
        customSearchControl.draw('cse', options);
      }, true);
